<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dm.mapper.BookMapper">

    <select id="queryByList" resultType="com.dm.bean.Book">
        select * from read_book_pd
    </select>

    <select id="countAll" resultType="Integer">
        select count(*) from read_book_pd
    </select>
</mapper>